body {
  font-family: $primary-font-family;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $primary-header-family;
}
.h3 {
  font-size: 20px;
}
.ptb-40 {
  padding: 60px 0 ;
}
.ptb-60 {
  padding: 60px 0;
}
.ptb-80 {
  padding: 80px 0;
}
.pb-40 {
  padding-bottom: 40px;
}



/////


.list {
  padding: 0;
  list-style: none;
  li {
    display: flex;
    align-items: center;
    padding: 5px 0;
    color: inherit;

    &:before {
      content: '';
      width: 12px;
      height: 2px;
      background: $primary-new-icon-color;
      display: inline-block;
      margin-right: 8px;
      margin-left: 1px;
    }

    a {
      color: inherit;
    }
  }

}
