// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.


//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

/*$blue:    #4a90e2 !default;*/
$blue:    #fbb319 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fbb319 !default;
$yellow:  #fbb319 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;


$primary-font-color: #fbb319;
$secondary-font-color: #fff;

$primary-text-color: #343a40;
$secondary-text-color: #fff;

$primary-new-icon-color: #fbb319;

$primary-icon-color : #fff;
$secondary-icon-color : #918f8f;

$primary-bg : #d8d8d8;
$secondary-bg : #222222;
/*$third-bg : #417dc1;*/
$third-bg : #fbb319;
$forth-bg : #efefef;
$fifth-bg : #d0d0d0;
$sixth-bg : #f8f8f8;
$seventh-bg : #fff;

$primary-new-bg: #fbb319;

$primary-header-family : Montserrat, Helvetica, Arial, sans-serif;
$primary-font-family : Roboto,arial,helvetica,sans-serif;

$primary-header-weight : 600;
$secondary-header-weight : 700;
$tertiary-header-weight : 300;
$four-header-weight : 800;

$primary-text-weight : 400;
$secondary-text-weight : 300;
$tertiary-text-weight : 600;

$primary-text-shadow : grey 1px 1px 0;


/// BUTTONS
$btn-border-radius:         0;
$border-radius:            0;

$headings-color:     #333;
$body-color:      #656565;
$primary-border-color : rgba(128, 128, 128, 0.2);
$secondary-border-color : #fff;

