.btn {
  font-weight: 700;
  font-family: Montserrat,Helvetica,Arial,sans-serif;
  letter-spacing: 2px;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 16px 30px;
  border-width: 2px;

  @include media-breakpoint-down(lg) {
    padding: 10px 22px;
  }
}
.btn-link {
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: Montserrat,Helvetica,Arial,sans-serif;
  font-size: 14px;
}
.btn-primary {
  color: $secondary-font-color;
}
.circle-play {
  &:hover, &:focus {
    text-decoration: none;
  }

}