.footer-hero {
  background: $primary-new-bg;
  text-align: center;
  color: #fff;
  padding: 60px 0;


  * {
    color: inherit;
  }
}

.footer-hero .btn {
  margin-top: 2em;
}

.footer-hero h3 {
  font-size: 32px;
  font-weight: 800;
  color: inherit;
}


.footer-brand img {
  max-width: 100%;
}

.footer-brand {
  width: 266px;
  margin-bottom: 1.8em;
}

.contact-widget .widget span {
  display: block;
  padding: 6px 0;
}
.contact-widget .widget span a{
  color: inherit;
}

.widget-holder {
  display: flex;
  justify-content: space-between;
}

.main-footer {
  padding-top: 3em;
  padding-bottom: 3em;
  background: #fff;
  position: relative;
  z-index: 1;
}

.contact-widget {
  display: flex;
}

.contact-widget .widget {
  margin-right: 4em;
}


////

.social-media {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  margin: 0 -5px;
  margin-bottom: 14px;

  li {
    margin: 0 5px;

    a {
      height: 34px;
      width: 34px;
      background: #eee;
      display: block;
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-radius: 100%;
    }
  }
}

.site-widget {
  font-size: 15px;
  color: #999;
}

.section-quick-actions {
  background-color: $third-bg;
  color: $secondary-text-color;
  h2 {
    font-size: 40px;
    max-width: 415px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.row-footer-links {
  >[class*="col-"] {
    color: $secondary-text-color;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 15px;
    border-right: 1px solid $primary-border-color;
    &:first-child{
      border-left: 1px solid $primary-border-color;
    }

    .fa {
      font-size: 48px;
      margin-bottom: 15px;
    }
    a {
      color: inherit;
      display: block;
      span {
        display: block;
      }
    }
  }
}

.last-footer {
  color: $secondary-text-color;
  background-color: #000000;
  padding: 45px 0 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 8px;
      a {

      }
    }
  }
  h2, h3, h4, a {
    color: inherit;
  }
  h4 {
    margin-bottom: 25px;
  }
  .social-media {
    li {
      a {
        background-color: #fff;
        .fa {
          color: $primary-font-color;
        }
      }
    }
  }
  .row {
    >div {
      .row {
        display: flex;
        justify-content: space-evenly;
      }
    }
  }
}
.copyright-footer {
  background-color: #000;
  color: $secondary-text-color;
  padding: 30px 0 10px;
  p {
    margin: 0;
  }
}

@include media-breakpoint-down(sm){
  .footer-brand {
    margin-left: auto;
    margin-right: auto;
  }
  .main-footer {
    .widget-holder {
      flex-direction: column;
    }

    .contact-widget {
      justify-content: center;
      .widget {
        margin: 0 10px 10px;
      }
    }
    .site-widget {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .last-footer {
    text-align: center;

    .social-media {
      display: flex;
      justify-content: center;
    }
  }
}
@include media-breakpoint-down(xs){
  .main-footer {
    .contact-widget {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
}