.main-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  transition: all .3s;

  overflow: hidden;


  &:hover {
    overflow: visible;
  }



  .navbar {
    padding: 1.5rem 4rem;
    transition: all .3s;
  }

  .navbar-nav {
    flex-direction: row;
    .nav-item {
      &.active {
        .nav-link {
          color: $primary-font-color;
        }
      }
    }
    .nav-link {
      padding-right: 0;
      padding-left: 0;
      font-weight: 300;
      color: #fff;
      font-size: 18px;
      padding: 10px 0;
      margin: 0 22px;
      letter-spacing: .5px;
      border-bottom: 2px solid transparent;
      transition: all .3s;

      &:hover {
        border-color: #fff;
      }

      .expand {
        position: relative;
        right: -6px;
      }
    }



    .dropdown-menu {
      position: absolute;
      opacity: 0;
      z-index: -1;
      transition: all .3s;
      margin-top: 24px;
      padding: 25px 0;
      border: 0;
      box-shadow: rgba(0, 0, 0, 0.14) 0 3px 16px;
      margin-right: 12px;
      display: flex;
      flex-flow: row wrap!important;
      min-width: 757px;

      &:before {
        content: "";
        position: absolute;
        left: 1em;
        right: 1em;
        height: 100%;
        background: white;
        top: 0;
      }

      &:after {
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        background: #fff;
        transform: rotate(45deg);
        top: 0;
        left: -620px;
        right: 0;
        margin: auto;
        box-shadow: -1px -1px 10px -2px rgba(0,0,0,.14);
        z-index: -6;
      }

      >li {
        display: block;
        width: 33.33%;
      }
    }

    .dropdown-item {
      position: relative;
      z-index: 1;
      padding: 14px 60px 14px 45px;
      font-size: 16px;
      color: $body-color;


      &:hover {
        color: $primary;
      }

      &:active,
      &:focus {
        background-color: $primary;
        color: #fff;
      }

    }
    .active {
      >.dropdown-item {
        color: $primary-font-color;
      }
    }

    .menu-item.dropdown{
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 20px;
        bottom: -20px;
      }
      &:hover {
        .dropdown-menu{
          margin-top: 8px;
          display: block;
          opacity: 1;
          z-index: 999999;
          display: flex;
        }
      }
    }




  }


  .navbar-brand {
    position: relative;
    width: 220px;
    margin: 0;
    transition: all .3s;

    img {
      max-width: 100%;
      position: relative;
      bottom: 2px;
      transition: all .3s;
    }

    .navbar-brand-o {
      position: absolute;
      left: 0;
      top: 15px;
      opacity: 0;
    }
  }

  .btn {
    transition: all .3s;
  }


  .navbar-toggler {
    display: none;
    transition: all .3s;
    margin-right: 15px;
    outline: none;
    opacity: .6;

    &:hover {
      opacity: 1;
    }
  }




  @include media-breakpoint-down(lg) {

    .navbar-toggler {
      display: block!important;
    }

    .navbar-main-menu {
      display: none!important;
    }

  }
}
.navbar-brand {
  color: $secondary-text-color;
  font-size: 25.6px;
  text-transform: uppercase;
  font-weight: $tertiary-text-weight;
  .s-word {
    font-weight: $secondary-text-weight;
  }
  &:hover, &:focus, &:active, &:visited {
    color: $secondary-text-color;
  }
}
.navbar-toggler {
  outline: none!important;


  .is-mobile-nav &,
  &:active,
  &:focus {
    .navbar-toggler-icon {
      border-top: 3px solid $primary;
      border-bottom: 3px solid $primary;

      &:before {
        background: $primary;
      }
    }

  }
}
.navbar-toggler-icon {
  border-top: 3px solid $primary;
  border-bottom: 3px solid $primary;
  position: relative;
  height: 19px;
  width: 20px;
  outline: none;

  &:before {
    content: '';
    width: 100%;
    height: 3px;
    display: block;
    background: $primary;
    top: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
  }
}
.btn-action-call {
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    font-size: 18px;
    margin-right: 5px;
    display: flex;
    align-items: center;
  }
}
.main-header-invert {
  position: fixed;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.12) 0 2px 7px;

  .navbar {
    padding: 1rem 4rem;
  }

  .navbar-nav {
    .nav-link {
      color: #333;

      &:hover {
        color: $primary;
        border-color: #fff;
      }
    }
  }

  .navbar-brand {
    width: 200px;

    img {
      opacity: 0;
    }

    .navbar-brand-o {
      opacity: 1;
    }



  }

  .btn {
    @extend .btn-outline-primary;
    padding: 10px 28px;
  }
}
.subpage-navbar-header {
  position: relative;
  .navbar-brand {
    color: $primary-text-color;
  }
  .navbar-nav-main {
    .nav-item {
      .nav-link {
        color: $primary-text-color;
      }
    }
  }
}
.expand {
  i {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 8px;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
  }
}
.dropdown-toggle:after {
  display: none;
}
//// MOBILE
.navbar-mobile {
  position: fixed;
  z-index: 9999;
  background: #fff;
  bottom: 0;
  top: 0;
  width: 250px;
  box-shadow: 4px 0 10px rgba(0,0,0,.2);
  padding: 10px;
  left: -260px;
  transition: all .3s;

  .admin-bar & {
    top: 32px;
  }

  .navbar-left {
    margin-bottom: 1.3em;
  }


  .navbar-toggler {
    margin-right: 5px;
  }

  .navbar-brand {
    img {
      width: 155px;
    }
  }

  .sub-menu {
    display: none;
  }

  .navbar-inline {
    padding: 0;
    margin: 0;
    font-family: inherit;

    a {
      font-size: 18px;
      padding: 8px 12px;
      display: block;
      color: $secondary;
      font-weight: 700;
      transition: all .3s;

      &:hover {
        color: $primary;
        text-decoration: none;
      }

    }

    .active {
      >a {
        color: $primary-font-color;
      }
    }
  }

}

#container {
  position: relative;
  left: 0;
  transition: left .3s;
}


.mobile-content-shadow {
  transition: all .1s;
  z-index: -9999;
  opacity: 0;
  background: rgba(255, 255, 255, 0.63);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.is-mobile-nav {
  .navbar-mobile {
    left: 0;
  }

  .main-header .navbar {
    right: -140px;
  }
  #container {
    left: 140px;
  }

  .mobile-content-shadow {
    opacity: 1;
    z-index: 12;
  }

}
@include media-breakpoint-down(lg) {
  .mobile-nav {
    .navbar-inline {
      list-style: none;

      .sub-menu {
        list-style: none;
        padding-left: 32px;

        li {
          position: relative;
          &:before {
            content: '';
            display: block;
            position: absolute;
            top: 19px;
            left: -9px;
            right: 0;
            width: 12px;
            height: 2px;
            background-color: $primary-new-bg;
          }
          a {
            font-size: 17px;
            .expand {
              padding: 5px;
              left: -6px;
            }
          }
        }
      }
    }
  }

}
@include media-breakpoint-down(sm) {
 .main-header {
   .navbar-main {
     .btn {
       margin: 0 auto;
     }
   }
 }
}
@include media-breakpoint-down(xs) {
  .navbar-main {
    flex-flow: row wrap;
    .btn-outline-light {
      flex: 0 1 100%;
      margin-top: 5px;
    }
    .navbar-toggler {
      padding-left: 0;
      margin-right: auto;
    }
    .navbar-brand {
      width: 150px;
    }
  }
  .main-header {
    .navbar {
      padding: 1.5rem 15px;
    }
  }
  .mobile-nav {
    .sub-menu {
      height: 215px;
      overflow-y: scroll;
    }
  }
}

