body {
  &:not(.home) {
    .body-wrap {
      margin-top: 80px;
      padding-bottom: 0;
    }
  }
  &.page-id-45, .page-id-490 {
    .body-wrap {
      margin: 0;
      padding: 0;
    }
  }

  &.logged-in {
    .main-header {
      margin-top: 32px;
    }
  }
}


.main-content {
  margin-top: 80px;
  padding-bottom: 100px;
}

.page-header {
  padding: 3em 0 3em;
  text-align: center;
  background: #f5f5f5;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  h1 {
    line-height: .7;
    font-size: 12em;
    font-weight: 800;
    opacity: .1;
    text-transform: uppercase;
    margin-bottom: -55px;
    letter-spacing: -6px;
    position: relative;
    z-index: 1;
    margin-top: 80px;
  }



  &.has-bg {

    min-height: 450px;

    &:after {
      content: '';
      background-image: url('../images/video-shadow.png.');
      height: 140px;
      width: 100%;
      position: absolute;
      bottom: 0;
      z-index: 0;
      background-size: auto 100%;
      opacity: .9;
      transition: all .3s;
    }

    h1 {
      color: #fff;
      opacity: .2;

    }
  }
}



.section-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
}


.section-intro {
  padding: 4em;background: #f9f9f9ee;
}


.section-heading {
  text-align: center;
  line-height: 1.8;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 5em;

  .section-title {
    margin-bottom: 16px;
  }
}


////

.section-simple-page {
  padding: 4em 0;
}
@media (max-width: 782px) {
  body.home.logged-in {
    .main-header {
      margin-top: 46px;
    }
  }
  body.logged-in {
    .main-header {
      margin-top: 46px;
    }
  }
}
@include media-breakpoint-down(xs) {
  body.home.logged-in {
    .main-header {
      margin-top: 0;
    }
  }
  body.logged-in {
    .main-header {
      margin-top: 0;
    }
  }
}