.row-about-us {
  [class*="col-"] {
    &:first-child {
      @include media-breakpoint-down(sm) {
        max-width: 540px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 15px;
        padding-left: 15px;
      }
    }
    &:last-child {
      background: no-repeat center;
      background-size: cover;
      min-height: 514px;
    }

    @include media-breakpoint-down(sm) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
body {
  &.page-id-17 {
    .body-wrap {
      padding-bottom: 0;
    }
  }
}

