.form-field{
  @extend .form-group;
  margin-bottom: 20px;

  input, textarea {
    @extend .form-control;
  }
}
.frm_submit {
  @extend .form-actions;
}

.frm_button_submit {
  @extend .btn;
  @extend .btn-primary;
  text-transform: uppercase;
  padding: 10px 45px;
}
.frm_error_style {
  @extend .invalid-feedback;
  display: block;
  margin: 0 0 15px;
}


.section-simple-page {
  .frm_forms form {
    box-shadow: rgba(0, 0, 0, 0.08) 0 10px 30px;
    border-radius: 10px;
    padding: 3em;
    background-color: #fff;
  }

}
