body {
  &.page-id-378 {
    .page-header {
      padding: 30px 0;
      background-color: #fff;
      h1 {
        display: none;
      }
    }
  }
}
.section-3d-gallery {
  padding: 40px 0;
  text-align: center;
  .d-gallery-intro {
    max-width: 995px;
    margin: 0 auto 25px;
  }
}
.card-deck-3d-gallery {
  .card-img-overlay {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    text-align: center;
    * {
      color: inherit;
    }
    a {
      font-style: italic;
      text-decoration: underline;
    }
  }
}
@include media-breakpoint-down(md) {
  .filtermenu {
    align-items: center;
  }
  .section-listing {
    .post {

    }
  }
}