.section-gallery-page {
  .section-listing {
    padding-bottom: 50px;
  }
}
.row-listing-hero {
  [class*="col-"] {
    >* {
      max-width: 800px;
      margin: 0 auto;
      text-align: center;
    }
  }
}
.post {
  &-project {
    margin: 1.6em 0;
    padding: 0 5px;

    h2 {
      font-size: 20px;
      font-weight: 700;
      color: #5a5a5a;
      transition: all .3s;
    }

    &:hover {
      h2 {
        color: #4b90e1;
      }
    }

    .post-img {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding: 36px;
      margin-bottom: 1em;
      position: relative;
      min-height: 380px;
      display: flex;
      align-items: center;

      &:after {
        content: '';
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;

        opacity: 0;
        transition: all .3s;
      }
      .btn {
        margin-top: 2em;
        display: block;
      }

      &:hover {
        .post-copy {
          opacity: 1;
          transform: scale(1);

        }

        &:after {

          opacity: 1;

        }
      }
    }
    .post-ribbon {
      position: absolute;
      top: 0;
      left: 0;
      background: #000;
      color: #fff;
      padding: 8px 13px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 11px;
      letter-spacing: 1px;
    }
    .post-copy {
      transition: all .3s;
      opacity: 0;
      color: #fff;
      position: relative;
      z-index: 2;
      display: block;
      width: 100%;
      transform: scale(.5);
      h3 {
        font-size: 18px;
        font-weight: 700;
        color: inherit;
      }
    }
  }

}

.section-filter {
  padding: 1px 0;
}

.filtermenu {
  margin: 20px 0;
  text-align: center;
  padding: 0;
  display: flex;
  justify-content: center;

  li {
    border: 2px solid transparent;
    padding: 8px 21px;
    display: inline-block;
    border-radius: 0;
    cursor: pointer;
    margin: 0 4px;
    font-family: Montserrat,Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;


    &:hover {
      color: $primary;
    }

    &.active {
      background: $primary-new-bg;
      color: $secondary-text-color;
      border-color: $primary-new-bg;
    }
  }
}
.section-listing-hero {
  padding: 40px 0 0;

 .post {
   margin-bottom: 20px;

   * {
     text-align: center;
     max-width: 700px;
     margin: 0 auto;
   }
 }
}


.posthero-sub {
  margin-bottom: 30px;
  line-height: 1.7;
  font-size: 18px;
  margin-top: -15px;
}
@include media-breakpoint-down(sm) {
  .filtermenu {
    flex-flow: row wrap;
    li {
      flex: 0 1 30%;
    }
  }
}
@include media-breakpoint-down(xs) {
  .filtermenu {
    flex-flow: row wrap;
    li {
      flex: 0 1 100%;
    }
  }
}