.section-home-banner {
  position: relative;
}
.home-banner-item {
  height: 100vh;
  color: $secondary-text-color;
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
  video {
    position: absolute;
    width: 100%;
  }
  &:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: inherit;
    opacity: .5;
  }

  .container {
    position: relative;
    z-index: 1;
  }
  .hero-title {
    font-weight: $secondary-header-weight;
    text-shadow: $primary-text-shadow;
    font-size: 56px;
    margin-bottom: 20px;
  }
  .header-subtitle {
    font-size: 20.8px;
    font-weight: $tertiary-header-weight;
    text-shadow: $primary-text-shadow;
  }
  .btn {
    font-size: 13.6px;
    font-weight: $tertiary-text-weight;
    padding: 14px 45px;
    border-radius: 25px;
    margin: 0 10px;

    &:not(:nth-of-type(1)) {
      @extend .btn-outline-light;
      border-color: $white;
    }

  }
}
.section-smooth-down {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  text-align: center;
}
.smooth-scroll-icon {
  font-size: 50px;
}
.section-results {
  color: $secondary-text-color;
}
.row-results {
  >[class*="col-"] {
    text-align: center;
    h2 {
      font-size: 16px;
      font-weight: $four-header-weight;
      margin: 13px 0;
    }
    .percent {
      font-size: 24px;
    }
    .fa {
      font-size: 22px;
    }
  }
}

.section-industries {
  text-align: center;
  padding: 60px 0;
  background: #fbfbfb;
  .post{
    &-industry {

    }
    &-body {
      a {
        display: flex;
        align-items: center;
        margin-bottom: 5px;

        img {
          width: 35px;
          height: 35px;
          margin-right: 10px;
        }
      }
    }
  }
  .btn {
    display: inline-block;
    margin: 0 auto;
  }
}
.row-industries {
  text-align: left;
}
.industries-list {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    a {
      color: inherit;
    }
  }
}
.owl-dots {
  text-align: center;
  margin: 13px 0 6px;
}
.owl-dot {
  margin: 0 2px;

  span {
    width: 15px;
    height: 15px;
    display: block;
    border-radius: 50%;
    background-color: #d8d8d8;
    border: 2px solid #979797;

  }
}

//////////////


//FIRST_SECTION

.section-video {
  height: 100vh;
  background-color: #000;
  display: flex;
  overflow: hidden;
  align-items: center;
  position: relative;
}

.section-video:after {
  content: '';
  background-image: url('../images/video-shadow.png');
  height: 240px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 0;
  background-size: auto 100%;
  opacity: .8;
}

.section-video  .section-inner{
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 0 4em
}

.section-copy {
  margin-bottom: 1em;
  h1,
  h2,
  .h1 {
    font-weight: 700;
    font-size: 3.2em;
    margin: auto;
    margin-bottom: 22px;
    margin-top: 18px;
  }

  h2 {
    margin-top: 0;
    font-size: 35px;
  }

  h4 {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 5px;
    font-family: Montserrat,Helvetica,Arial,sans-serif;
    display: block;
    font-size: 14px;
    opacity: .4;
  }


  .btn {
    margin-top: 20px;
  }
}
.section-video {
  h4,
  h1 {
    color: #fff;
  }
}


.section-video .section-footer {
  padding: 2.5em 4em;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  h1,
  .h1 {
    max-width: 635px;
    text-align: left;
    font-size: 3em;
  }
}


.bg-video {
  opacity: .7;
  z-index: 0;
  background-size: 100% 100%;
  background-color: #000;
  background-position: 50%;
  background-size: contain;
  -o-object-fit: cover;
  -webkit-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 112%;
  object-fit: cover;
}

.float-bottom {
  position: fixed;
  bottom: 0;
  z-index: 2;
  right: 0;
  padding: 18px 45px;
  text-transform: uppercase;
}


.item-holder {

  display: flex;
  width: 80%;
}

.item {
  position: relative;
  color: #fff;
  border-left: 1px solid rgba(255, 255, 255, 0.13);
  padding-left: 3em;
  padding-right: 3em;
  font-size: 14px;

  h3 {
    color: $primary-font-color;
    font-size: 18px;
    font-weight: 700;
  }

  p {
    margin: 0 0 5px;
  }

  &:first-child {
    border: 0;
    padding-left: 0;
  }

  &-copy {
    position: relative;
  }

  span {
    font-size: 4.3em;
    font-weight: 800;
    font-family: Montserrat,Helvetica,Arial,sans-serif;
    position: absolute;
    top: 1.25em;
    left: 0;
    z-index: -1;
    line-height: 1;
    opacity: .05;
    letter-spacing: 0;
    color: #fff;
  }

}

.btn-link {
  .fa-chevron-right {
    font-size: 80%;
  }
}

.btn-link .fa-chevron-right,
.btn .fa-chevron-right, .btn .fa {
  margin-left: 1em;
}




//2nd

.section-copy {
  line-height: 2;

  .btn-link {
    margin-top: 2em;
  }
}

.section-tour {
  display: flex;
  position: relative;
  background: #f9f9f9;
  padding: 60px 0;

  .container {
    width: 100%;
    display: flex;
    >div {
      width: 50%;

      &.section-copy {
        padding: 0 30px 0 0;
        margin: 0;
      }
      &.section-img {
        min-height: 338px;
      }
    }
  }
}


.section-title-o {
  position: relative;
  font-size: 14em;
  text-align: center;
  line-height: .8;
  left: 0;
  right: 0;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -9px;
  margin-bottom: -30px;
  padding-top: .7em;
  color: #f1f1f1;

  font-size: 40px;
  position: static;
  margin: 0;
  letter-spacing: normal;
  color: #333333;
  padding: 0;
  margin-bottom: 15px;
}


///////



.section-tour {

  > * {
    width: 50%;
  }

  .section-copy {
    padding: 7em;
  }

  .section-img {
    display: flex;
    align-items: center;
    justify-content: center;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 750px;
  }



}


.circle-play {
  width: 100px;
  height: 100px;
  position: relative;
  display: block;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  background-color: $primary-new-bg;
  color: #fff;
  box-shadow: #000 0 1px 50px;
  text-decoration: none;
}



//James New Home Style

 .section-heading {
   margin-bottom: 3.5em;
 }

.post-industry img {
  max-width: 100%;
}

.post-column {
  display: flex;
}

.post-industry {
  width: 100%;
  margin: 0 15px;
  background: #fff;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.07) 0 10px 45px;
  border-radius: 0;
  overflow: hidden;

  ul {
    min-height: 145px;
  }
}

.post-body ul
.post-industry h2 {
  font-size: 21px;
  font-weight: 700;
  letter-spacing: -.5px;
}

.post-body {
  padding: 26px;
}

.post-body h2 {
  font-size: 20px;
  color: #333;
}

.post-body {
  color: #737373;
}

.section-footer {
  margin-top: 4em;
}

.post-industry .post-img {
  min-height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



.section-3d {
  position: relative;
}


.item-block-holder {
  display: flex;
}
.item-block {
  position: relative;
  width: 33.333%;
  background-color: #eee;

  &:hover {
    &:before {
      position: absolute;
      content: '';
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #000000;
      opacity: .4;
      z-index: 2;
    }
  }
}

.owl-carousel:after {
  content: '';
  background-image: url('../images/video-shadow.png.');
  height: 240px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 0;
  background-size: auto 100%;
  opacity: .8;
  transition: all .3s;
}



.section-3d .item-img {
  min-height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.section-3d .btn {
  padding: 12px 16px;
}


.section-3d .btn-link {
  color: #fff;
}

.section-3d .item-copy {
  position: absolute;
  z-index: 2;
  color: #fff;
  padding: 2.5em;
  bottom: 0;
  width: 83%;
  padding-right: 0;
}


.section-3d .item-copy  h2 {
  font-size: 26px;
  color: inherit;
}


.section-3d .item-copy  p {
  margin-bottom: 30px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}



.item-copy-hide {
  height: 0;
  overflow: hidden;
  transition: all .3s;
}


.item-block:hover .item-copy-hide {
  height: 180px;
}

.item-block:hover .owl-carousel:after {
  opacity: .9;
  height: 300px;
}

.owl-dots {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px 30px;
  z-index: 2;
}
.owl-dot span {
  border: 0;
  width: 10px;
  height: 10px;
  margin: 4px;
}
.owl-dot.active span {
  background-color: $primary-new-icon-color;
}
.section-column-post {
  &.section-column-post-home {
    padding: 60px 0;
    margin: 0;

    .post-simple {
      .post-img {
        min-height: 260px;
        h3 {
          font-size: 18px;
        }
      }
    }
  }
}
.section-column-post-home {
  .post-project {
    .post-img {
      min-height: 230px;
    }
  }
}
.section-client-logo {
  [class*="col-"] {
    margin-bottom: 25px;
  }
}
.client-logo {
  position: relative;
  width: 100%;
  height: 91px;

  a {
    display: block;
    height: 100%;


    img {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translate(0, -50%);
      max-width: 90%;
      max-height: 90%;
      margin: 0 auto;
    }
  }
}
@media (max-width: 1440px) {
  .item-block {
    &:hover {
      .item-copy-hide {
        height: 215px;
      }
    }
  }
}
@include media-breakpoint-down(lg) {
  .item-block {
    &:hover {
      .item-copy-hide {
        height: 205px;
      }
    }
  }
}
@include media-breakpoint-down(md) {
  .section-tour {
    flex-direction: column;
    >* {
      width: 100%;
    }
  }

  .item-block-holder {
    flex-direction: column;
  }

  .item-block {
    width: 100%;

    &:hover .item-copy-hide {
      height: 165px;
    }
  }

  .item-holder {
    width: 100%;
  }
  .item {
    padding-left: 10px;
    padding-right: 10px;
    span {
      top: 115px;
      font-size: 35px;
    }
  }
}
@include media-breakpoint-down(sm) {
  .item-block {
    &:hover {
      .item-copy-hide {
        height: 195px;
      }
    }
  }
  .post-column {
    flex-direction: column;
  }
  .post-industry {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .post-simple-holder {
    flex-direction: column;

    .post-simple {
      margin: 0 0 30px;
      padding: 0 20px;

      .post-img {
        min-height: 170px;
      }
    }
  }
  .section-tour {
    .container {
      flex-direction: column;
      >div {
        width: 100%;
        &.section-copy {
         padding: 0 0 30px;
        }
        &.section-img {

        }
      }
    }
  }
}
@include media-breakpoint-down(xs) {
  .main-header {
    position: absolute;
  }

  .item-block {
    &:hover {
      .item-copy-hide {
        height: 225px;
      }
    }
  }
  .section-video {
    height: 574px;

    h1 {
      font-size: 25px;
    }
    .section-inner {
      margin-top: -85px;
    }
    .section-footer {
      padding-top: 0;
      padding-bottom: 0;
      top: 255px;
    }
  }
  .item-holder {
    flex-flow: column;
  }
  .item {
    border: 0;
    padding: 0;

    span {
      top: 37px;
    }
  }
  .section-tour {
    padding: 40px 0;

    .section-copy {
      padding: 7em 65px;

      h1 {
        font-size: 31px;
      }
    }
  }
  .section-video {
    .section-inner {
      padding: 0 15px;
    }
    .section-footer {
      padding: 0 15px;
      top: 255px;
    }
  }
  .section-content-background-color {
    padding: 40px 0;

    h3 {
      span {
        font-size: 20px;
      }
    }

    [href*="mailto:info@virtualstudios.ph"] {
      font-size: 22px;
    }
  }
  .section-industry-benefits {
    padding: 40px 0;

    h2 {
      font-size: 32px;
    }
  }
  .section-client-logo {
    padding: 40px 0;
    .section-heading {
      margin-bottom: 16px;
    }
    h2 {
      font-size: 32px;
    }
    [class*=col-] {
      margin-bottom: 15px;
    }
  }
  .client-logo {
    width: 220px;
    margin: 0 auto;
  }
}
@media (max-width: 320px) {
  .section-content-background-color {
    [href*="mailto:info@virtualstudios.ph"] {
      font-size: 24px;
    }
  }
}
