body {
  &.page-id-11 {
    .section-industries {
      padding: 80px 0;
    }
  }
  &.page-id-455 {
    .body-wrap {
      padding-bottom: 0;
    }
  }
}


.section-section-listing {
  padding: 5em 0;
  [class*="col"] {
    display: flex;
  }
  .post {
    &-img, &-body, &-industry, &-footer {
      flex: 0 1 100%;
    }
    &-industry {
      margin: 15px 0;
      display: flex;
      flex-flow: row wrap;
    }
    &-body {
      padding-bottom: 0;
    }
    &-footer {
      padding: 0 26px 26px;
      margin-top: auto;
    }
  }
  .list {
    li {
      &:before {
        display: none;
      }
      a {
        display: flex;
        align-items: center;
        margin-bottom: 5px;

        img {
          width: 35px;
          height: 35px;
          margin-right: 10px;
        }
      }
    }
  }
}


.section-column-post {
  background: #f1f1f1;
  padding: 4em 0 11em;
}

.post-simple-holder {
  display: flex;
  margin: 0 -15px;
}



.post-simple {
  width: 100%;
  margin: 0 15px;

  .post-img {
    position: relative;


    min-height: 194px;
    display: block;
    background-position: center;
    background-size: cover;
    background-color: #ddd;

    h3 {
      font-size: 14px;
      font-weight: 600;
      color: #fff;
      display: block;
      margin: 0;
      padding: 10px 15px;
      text-align: center;
      position: relative;
      z-index: 1;

      position: absolute;
      bottom: 0;
      left: 0;
      padding: 15px;
    }

    &:after {
      content: '';
      background-image: url('../images/video-shadow.png');
      height: 90px;
      width: 100%;
      position: absolute;
      bottom: 0;
      z-index: 0;
      background-size: auto 100%;
      opacity: .8;
    }
  }
}



////


.section-form-footer {
}

.form-footer {
  box-shadow: 0 4px 48px rgba(0,0,0,.08);
  padding: 3.5em;
  margin: -6em auto 6em;
  background: #fff;
  border-radius: 4px;
}

.form-heading {
  margin: 0 0 48px;
  font-weight: 700;
  letter-spacing: -1px;
  color: #19385b;
  font-size: 38px;
  text-align: center;

  &:after{
    content: '';
    display: block;
    width: 90px;
    height: 4px;
    background: $yellow;
    margin: 25px auto 31px;
  }
}
//////

.form-group {
  label {
    font-family: Montserrat,Helvetica,Arial,sans-serif;
    font-weight: 700;
  }
}

.form-control {
  min-height: 55px;
  border-radius: 4px;
  border-color: #e2e2e2;
}


.form-actions {
  text-align: center;
  padding: 10px;

  .btn {
    min-width: 200px;
    padding: 19px;
  }
}


//// single page

.page-header-industries {

  &.has-bg {
    min-height: 600px;

    &:after {
      display: none;
    }
  }
}



.row-virtual-tours {
  .section-copy {
    padding-left: 2em;
  }
}

.media-holder {
  position: relative;
  min-height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .circle-play {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  &.lg {
    min-height: 550px;
  }
}

.section-industry-benefits {
  padding: 60px 0;
  text-align: center;

  h2 {
    text-align: center;
    margin-bottom: 50px;
  }
}
.industry-benefit-content {

}
.industry-benefit-list-holder {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  ul {
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 16px;

      a {
        color: #6e656e;
        display: flex;
        align-items: center;

        &:hover, &:focus {
          color: #fbb319;
          text-decoration: none;
        }

        img {
          display: block;
          margin-right: 10px;
        }
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .page-header {
    h1 {
      font-size: 130px;
    }
  }
  .section-section-listing {
    .post-industry {
      .post-body {
        h2 {
          height: 48px;
        }
        .btn-link {
          margin-top: auto;
        }
      }
    }
  }
  .thrv_wrapper {
    iframe {
      width: 100%!important;
    }
  }
}
@include media-breakpoint-down(md) {
  .tve_empty_dropzone {
    .thrv_wrapper {
      padding: 0!important;
    }
  }

  .page-header {
    h1 {
      font-size: 100px;
    }
  }
}
@include media-breakpoint-down(sm) {
  .page-header {
    h1 {
      font-size: 75px;
    }
  }
  .row-virtual-tours {
    >div {
      &:first-child {
        margin-bottom: 20px;
      }
    }
  }
}
@include media-breakpoint-down(xs) {
  .main-content {
    margin-top: 0;
  }
  .page-header {
    h1 {
      font-size: 50px;
    }
  }
  body.page-id-11 {
    .section-intro {
      padding-left: 5px;
      padding-right: 5px;
    }

  }
  .tcb-flex-row {
    .tcb-flex-col {
      &:last-child {
        justify-content: center;
      }
    }
  }
  .thrv_wrapper {
    iframe {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .thrv_text_element {
    h1 {
      font-size: 33px;
    }
  }
  .section-intro {
    padding: 4em 15px;

    .section-copy {
      .btn {
        font-size: 12px;
      }
    }
  }
  .form-footer {
    padding: 3.5em 15px;
  }
}
@media (max-width: 375px) {


}
@media (max-width: 320px) {
  .section-simple-page {
    .container {
      .section-copy {
        h2 {
          font-size: 32px;
        }
      }
    }
  }
  .tcb-flex-row {
    .tcb-flex-col {
      &:last-child {
        justify-content: center;
      }
    }
  }
  .thrv_text_element {
    h1 {
      font-size: 28px;
    }
  }
}
