
.section-centered-intro {
  max-width: 635px;
  margin: 0 auto 35px;
}
.section-pricing {
  &[style*="background-color"] {
    .section-centered-intro {
      color: $secondary-text-color;

      h2, p {
        color: inherit;
      }
    }
  }
}
.card-deck-pricing {
  align-items: center;

  .card {
    &-featured {
      min-height: 430px;

      .btn {
        display: none;
      }
    }
  }
}

.card-deck-layout-three {
  .btn {
    font-size: 13px;
    padding: 13px 10px;
  }
}
.text-placeholder {
  color: transparent;
}
