body {
  &.page-child.parent-pageid-147, &.page-id-147 {
    .page-header {
      display: none;
    }
  }
}

.shadow-large {
  box-shadow: 0 10px 30px 0 rgba(189,189,189,.3), 0 10px 30px rgba(0,0,0,.08);
}
.section-project {
  padding: 80px 0;
  &:nth-of-type(odd) {
    background-color: $seventh-bg;
  }
  &:nth-of-type(even) {
    background-color: $sixth-bg;
  }
}
.row-project {
  max-width: 980px;
  margin: 0 auto;
}


.full-col-left-padding {
  @media (min-width: 768px) {
    padding-left: 8%;
  }
}
.full-col-right-padding {
  @media (min-width: 768px) {
    padding-right: 8%;
  }
}
.shadow-large-black {
  box-shadow: 0 10px 30px 0 rgba(49,52,57,.3), 0 10px 30px rgba(0,0,0,.08);
}
@include media-breakpoint-down(sm) {

  .section-image-left-content-right {
    .row-virtual-tours {
      .section-copy {
        padding-left: 0;
      }
    }
  }

}
@include media-breakpoint-down(xs) {
  body:not(.home) {
    #container {
      position: absolute;
    }
    .main-header-invert + .body-wrap {
      margin-top: 130px;

      .page-header {
        padding-top: 130px;
      }
    }
  }

}