.section-services-page {
  min-height: 550px;
  display: flex;
  align-items: center;


  &:first-child {
    margin-top: -3em;
  }


  &:nth-of-type(odd) {
    background-color: $seventh-bg;
  }
  &:nth-of-type(even) {
    background-color: $sixth-bg;
    .row-virtual-tours {
      flex-flow: row-reverse;
    }
  }

  .gallery {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .fa {
      position: absolute;
      top: 50%;
      transform: translate(0,-50%);
      z-index: 2;
      color: $primary-icon-color;
      font-size: 71px;
    }

    &:hover, &:focus {
      color: $secondary-icon-color;
    }
  }


}


.page-header + .section-services-page {

  margin-top: -3em;
}

.row-checklist {
  >[class*="col-"]{
    display: flex;

    .checklist-icon {
      display: flex;
      i {
        color: $primary-new-icon-color;
        font-size: 40px;
        margin-right: 20px;
      }
    }
  }
}

@media (max-width: 320px) {
  .row-checklist {
    >[class*=col-] {
      .checklist-icon {
        i {
          font-size: 25px;
          margin-right: 10px;
        }
      }
      .checklist-details {
        width: 230px;
        h3 {
          margin-top: 0;
        }
      }
    }
  }
}
