.section-3d-gallery {
  .container {
    .card-deck-3d-gallery {
      &:only-child {
        padding-bottom: 15px;
        .card {
          flex: 1 0 30.7%;
          margin-bottom: 25px;
        }
      }
    }
  }
}

.section-image-left-content-right {
 .row-virtual-tours {
   >[class*="col"] {
     &:nth-child(even) {
       display: flex;
       flex-direction: column;
       justify-content: center;
     }
   }
 }
}

.acf-map {
  width: 100%;
  height: 400px;
  border: #ccc solid 1px;
  margin: 20px 0;
}

/* fixes potential theme css conflict */
.acf-map img {
  max-width: inherit !important;
}