.row-tciwi-item {
  >[class*="col-"] {
    text-align: center;
    img {
      margin-bottom: 20px;
    }
    h3 {
      font-size: 20px;
    }
    p {

    }
  }
}


.checklist {
  display: flex;
  margin-bottom: 1em;
  padding: 0 10px;

  h3 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 6px;
    color: #103257;
  }
}

